{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Improvisator{% endblock %}

{% block body %}


<div class=" ">
    <h1>Improvisator</h1>


{{ improvisator.name }} ({{ improvisator.shortName }}) <br>
{{ improvisator.description }}

<h2>Troupes</h2>

{% for membership in  improvisator.memberships %}

{{ membership.role }}: <a href="{{ path("troupe_identifier", {identifier: membership.improvGroup.identifier}) }}">{{ membership.improvGroup.name }}</a><br>

{% endfor %}

</div>
{% endblock %}
