{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Troupe{% endblock %}

{% block body %}


<div class=" ">
    <h1>Troupe</h1>


{{ troupe.name }} ({{ troupe.shortName }}) <br>
{{ troupe.location }}<br>
{{ troupe.description }}

<h2>Members</h2>

{% for membership in  troupe.memberships %}

<a href="{{ path("improvisator_identifier", {identifier: membership.improvisator.identifier}) }}">{{ membership.improvisator.name }}</a>, {{ membership.role }}<br>

{% endfor %}

</div>
{% endblock %}
