<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<title>{% block title %}Meet Improv{% endblock %}</title>
        {% block stylesheets %}<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	
	<!-- FontAwesomeIcons CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	
    	
	<link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
	
        
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-pills">
       <a class="navbar-brand" href="{{ path('troupe') }}"> 
             Meet Improv
      </a>
      
      <a class="nav-item nav-link{{ app.request.get('_route') == 'home' ? ' active' }}" href="{{ path('troupe') }}">Home</a>
      <a class="nav-item nav-link{{ app.request.get('_route') == 'troupe' ? ' active' }}" href="{{ path('troupe') }}"><i class="fas fa-theater-masks"></i> Troupe list</a>
      <a class="nav-item nav-link{{ app.request.get('_route') == 'improvisator' ? ' active' }}" href="{{ path('improvisator') }}"><i class="fas fa-user-circle"></i> Improvisator list</a>
    </nav>
    
    
    
        {% block body %}{% endblock %}


{{ dump() }}

        {% block javascripts %}
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>{% endblock %}
    
    </body>
</html>
