{% extends 'base.html.twig' %}
{% import "macros/contributor.macros.html.twig" as contributorMacros %}



{% block title %}{{ parent()}} {{ contributor_type }}{% endblock %}

{% block body %}


<div class="container">

	
    <h1>{{ contributor_type }} list <a class="btn btn-primary" href="{{ path('contributor_create', {contributor_type: contributor_type} ) }}" role="button">Register a {{ contributor_type }}! <i class="fa fa-plus-circle"></i></a></h1>
    
    

{% for contributor in contributors %}
{{ contributorMacros.contributorInline(contributor) }}<br>
{% endfor %}

</div>
{% endblock %}
